* 
{
	font-family: "Arial";
}

body
{
	background-image: url("../images/fundo_academia_principal.jpg");
	text-align: center;
}

nav a
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover
{
	text-decoration: underline;
}

h1 
{
	color: #1f1f14;
	background-color: #9c9c63;
	text-transform: uppercase;
	font-style: normal;
	font-size: 20px;
	padding: 5px;
	width: 300px;
	border-left: 5px solid #1f1f14;
	border-right: 5px solid #1f1f14;
	border-top: 5px solid #1f1f14;
	border-bottom: 5px solid #1f1f14;
	border-radius: 10px;
	
}

h1,
div#infoMessage,
fieldset,
table
{
	margin-left: auto;
	margin-right: auto;
}

div#infoMessage
{
	background-color: #ffcc00;
	width: 550px;
	border-radius: 5px;
	padding: 10px;
	color: #d40000;
}

fieldset
{
	background-color: #c3c388;
	width: 400px;
	text-align: left;
	border-radius: 5px;
	border: 0px;
}

legend
{
	background-color: #9c9c63;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	font-weight: bold;
}

legend,
label
{
	color: #000000;
}

input,
select
{
	border: 1px solid #000000;
	margin-bottom: 10px;
}

input[type=text]#nome,
input[type=text]#rua,
input[type=text]#complemento,
input[type=email]#email
{
	width: 95%;
}

input[type=tel]#telefoneCelularDDD,
input[type=tel]#telefoneFixoDDD,
input[type=tel]#telefoneDDD
{
	width: 30px;
}

input[type=tel]#telefoneCelularNumero,
input[type=tel]#telefoneFixoNumero,
input[type=tel]#telefoneNumero
{
	width: 90px;
}

input[type=button],
input[type=submit]
{
	background-color: #9c9c63;
	border-bottom: 5px solid #5b7b1d;
	border-top: 1px solid #5b7b1d;
	border-right: 1px solid #5b7b1d;
	border-left: 1px solid #5b7b1d;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px;
}

input[type=button]:hover,
input[type=submit]:hover
{
	background-color: #9c9c63;
	border-bottom: 3px solid #55552b;
}

table
{
	background-color: #9c9c63;
	font-size: 14px;
	border-spacing: 2px;
	border-collapse: separate;
}

th
{
	background-color: #5b7b1d;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px;
	padding-left: 60px;
	padding-right: 60px;

}

tr:nth-child(even) 
{
	background-color: #f3e6f7;
}

tr:nth-child(odd)
{
	background-color: #ffffff;
}

td
{
	padding: 10px;
}













